@import "tailwindcss/base";  
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "../../node_modules/slick-carousel/slick/slick.css";
/* @import "../../node_modules/slick-carousel/slick/slick-theme.css"; */


@font-face {
  font-family: "Lobster";
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  src: url('fonts/Lobster-Regular.ttf'); /* IE9 Compat Modes */
    src: local(''),
         url('fonts/Lobster-Regular.ttf') format('woff2'), /* Super Modern Browsers */
         url('fonts/Lobster-Regular.ttf') format('woff'), /* Modern Browsers */
         url('fonts/Lobster-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  line-height: normal;
  font-weight: 300;
  src: url('fonts/Poppins-Light.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Poppins-Light.ttf') format('woff2'), /* Super Modern Browsers */
       url('fonts/Poppins-Light.ttf') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-Light.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  line-height: normal;
  font-weight: 400;
  src: url('fonts/Poppins-Regular.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Poppins-Regular.ttf') format('woff2'), /* Super Modern Browsers */
       url('fonts/Poppins-Regular.ttf') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  line-height: normal;
  font-weight: 500;
  src: url('fonts/Poppins-Medium.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Poppins-Medium.ttf') format('woff2'), /* Super Modern Browsers */
       url('fonts/Poppins-Medium.ttf') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  line-height: normal;
  font-weight: 600;
  src: url('fonts/Poppins-SemiBold.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Poppins-SemiBold.ttf') format('woff2'), /* Super Modern Browsers */
       url('fonts/Poppins-SemiBold.ttf') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  line-height: normal;
  font-weight: 700;
  src: url('fonts/Poppins-Bold.ttf'); /* IE9 Compat Modes */
  src: local(''),
       url('fonts/Poppins-Bold.ttf') format('woff2'), /* Super Modern Browsers */
       url('fonts/Poppins-Bold.ttf') format('woff'), /* Modern Browsers */
       url('fonts/Poppins-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
}

*,
*::before,
*::after { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}

body {
  font-family: "Poppins", sans-serif !important;
  color: black;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scrollbar-color: red;
  overflow-y: overlay;
  overflow-x: hidden;
  margin: 0;
   
}

::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  right: 5px;
  border-radius: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-track-piece {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: green;
}
.mission {
  backdrop-filter: blur(5px);
}


.item {
  background: #cdac57;
  height: 200px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}



.react-player__preview {
  border-radius: 15px;
}

.tag {
  text-align: center;
}

.slick-slide {
  text-align: center;
  border-radius: 10px;
}



.slick-next::before,
.slick-prev::before {
    color: black;
    padding: 10px;
    

}

.slick-next:hover::before,
.slick-prev:hover::before {
    background: none;
    color: none;
}

.slick-next {
    right: 0;
    height: 100%;
    width: 20%;
    transition: all .6s ease-in;
    
}

.slick-prev {
    left: 0;
    z-index: 3;
    height: 100%;
    width: 20%;
    transition: all .6s ease-in;

}

.slick-prev:hover{
    background-image: linear-gradient(to right, rgba(0,0,0, .5), transparent);
}
.slick-next:hover {
    background-image: linear-gradient(to left, rgba(0,0,0, .5), transparent);
}